extends navbar

block content
  .container(style='padding-top: 50px;')
    .page-header
      h1 Result
    .well(style='padding: 25px;')
      p #{outcome}
      p User Name	: #{message.userName}
      p Email Id	: #{message.emailId}
      p Phone Number	: #{message.phoneNo}
      p Password	: #{message.password}
	
    
